<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.library.swatisinha.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://library.swatisinha.co.uk:8172/MsDeploy.axd?site=swatis-001-subsite4</MSDeployServiceURL>
    <DeployIisAppPath>swatis-001-subsite4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\swatis-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LibraryDb" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A18C05_library1;Persist Security Info=True;User ID=DB_A18C05_library1_admin;Password=Butterfly89;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Library1.Models.LibraryDb, Library1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Library1Entities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Library1;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Library1Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Library1.csdl|res://*/Models.Library1.ssdl|res://*/Models.Library1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=Library1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Library1Db" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Library1;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Library1Db_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Library1.csdl|res://*/Models.Library1.ssdl|res://*/Models.Library1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=Library1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Library1Db-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Library1Entities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LibraryDb-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Library2.csdl|res://*/Models.Library2.ssdl|res://*/Models.Library2.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5036.smarterasp.net;Initial Catalog=DB_A18C05_library1;Persist Security Info=True;User ID=DB_A18C05_library1_admin;Password=Butterfly89;TrustServerCertificate=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>